heat-cluster
heat-cluster/*
.vscode
.idea
.vagrant
*.log
*.retry
ubuntu-bionic-18.04-cloudimg-console.log
PrivateRules.mak
private_vars.yml
inventory_helm3
*.pyc
venv
build
*_build*
*Pipfile*
*rc.sh

