#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  resolve_timeout: 5m
  slack_api_url: {{ slack_api_url }}

# The directory from which notification templates are read.
templates: []

route:
  receiver: 'slack-notifications'
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  group_by: [alertname, datacenter, app]

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: 'prometheus-alerts'
    text: "http://alerts.engageska-portugal.pt/alerts"