apiVersion: 1

providers:
- name: 'Node-exporter Dashboard'
  orgId: 1
  folder: 'node-exporter-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/node-exporter-dashboard'
