apiVersion: 1

providers:
- name: 'Alerts Dashboard'
  orgId: 1
  folder: 'alerts-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/alerts-dashboard'
