apiVersion: 1

providers:
- name: 'cAdvisor Dashboard'
  orgId: 1
  folder: 'cadvisor-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: true
  options:
    path: '{{ grafana_dashboards_path }}/cadvisor-dashboard'
